{% extends 'polls/base.html' %} {% block title %}<title>About</title>
{% endblock%} {% block contents %}

<style>
  h2 {
    color: #d9534f;
  }

  .width-border {
    border-radius: 12px;
    width: 100%;
    border: 1px solid #d9534f;
  }
</style>

<div class="container">
  <div class="p-5">
    <div class="shadow-lg p-5 mb-3 bg-white width width-border mx-auto">
      <div class="font">
        <h2 class="text-center font-weight-bold">Benefits</h2>
        <hr />
        <p>
          Donating blood has benefits for your emotional and physical health.
          According to a report by the Mental Health Foundation, helping others
          can:
        </p>
        <ul>
          <li>reduce stress</li>
          <li>improve your emotional well-being</li>
          <li>benefit your physical health</li>
          <li>help get rid of negative feelings</li>
          <li>provide a sense of belonging and reduce isolation</li>
        </ul>
        <p>
          Research has found further evidence of the health benefits that come
          specifically from donating blood.
        </p>

        <h2 class="text-center font-weight-bold">Free health checkup</h2>
        <hr />
        <p>
          In order to give blood, you’re required to undergo a health screening.
          A trained staff member performs this checkup. They’ll check your:
        </p>
        <ul>
          <li>pulse</li>
          <li>blood pressure</li>
          <li>body temperature</li>
          <li>hemoglobin levels</li>
        </ul>
        <p>
          This free mini-physical can offer excellent insight into your health.
          It can effectively detect problems that could indicate an underlying
          medical condition or risk factors for certain diseases.
        </p>

        <p>Your blood is also tested for several diseases. These include:</p>
        <ul>
          <li>hepatitis B</li>
          <li>hepatitis C</li>
          <li>HIV</li>
          <li>West Nile virus</li>
          <li>syphilis</li>
          <li>Trypanosoma cruzi</li>
        </ul>
        <h2 class="text-center font-weight-bold">
          Side effects of donating blood
        </h2>
        <hr />
        <p>
          Blood donation is safe for healthy adults. There’s no risk of
          contracting disease. New, sterile equipment is used for each donor.
          <br /><br />
          Some people may feel nauseous, lightheaded, or dizzy after donating
          blood. If this happens, it should only last a few minutes. You can lie
          down with your feet up at the until you feel better.
          <br /><br />
          You may also experience some bleeding at the site of the needle.
          Applying pressure and raising your arm for a couple of minutes will
          usually stop this. You may develop a bruise at the site.
          <br />
          Call the blood donation center if:
        </p>
        <ul>
          <li>
            You still feel lightheaded, dizzy, or nauseous after drinking,
            eating, and resting.
          </li>
          <li>
            You develop a raised bump or continue bleeding at the needle site.
          </li>
          <li>You have arm pain, numbness, or tingling.</li>
        </ul>
        <h2 class="text-center font-weight-bold">During the donation</h2>
        <hr />
        <p>
          You must register to donate blood. This includes providing
          identification, your medical history, and undergoing a quick physical
          examination. You’ll also be given some information about blood
          donation to read. <br /><br />
          Once you’re ready, your blood donation procedure will begin. Whole
          blood donation is the most common type of donation. This is because it
          offers the most flexibility. It can be transfused as whole blood or
          separated into red cells, platelets, and plasma for different
          recipients.
          <br /><br />
          For a whole blood donation procedure:
        </p>
        <ol>
          <li>
            You’ll be seated in a reclining chair. You can donate blood either
            sitting or lying down.
          </li>
          <li>
            A small area of your arm will be cleaned. A sterile needle will then
            be inserted.
          </li>
          <li>
            You’ll remain seated or lying down while a pint of your blood is
            drawn. This takes 8 to 10 minutes.
          </li>
          <li>
            When a pint of blood has been collected, a staff member will remove
            the needle and bandage your arm.
          </li>
        </ol>
        <p>
          Other types of donation include:
          <br />
        </p>

        <ul>
          <li>platelet donation (plateletpheresis)</li>
          <li>plasma donation (plasmapheresis)</li>
          <li>double red cell donation</li>
        </ul>
        <p>
          These types of donations are performed using a process called
          apheresis. An apheresis machine is connected to both of your arms. It
          collects a small amount of blood and separates the components before
          returning the unused components back to you. This cycle is repeated
          several times over approximately two hours. <br /><br />
          Once your donation is complete, you’ll be given a snack and a drink
          and be able to sit and rest for 10 or 15 minutes before you leave. If
          you feel faint or nauseous, you’ll be able to lie down until you feel
          better.
        </p>

        <h2 class="text-center font-weight-bold">
          What to know before you donate
        </h2>
        <hr />
        <p>Here are some important things to know before you donate:</p>
        <ul>
          <li>
            You need to be 17 or older to donate whole blood. Some states allow
            you to donate at 16 with parental consent.
          </li>
          <li>
            You have to weigh at least 110 pounds and be in good health to
            donate.
          </li>
          <li>
            You need to provide information about medical conditions and any
            medications you’re taking. These may affect your eligibility to
            donate blood.
          </li>
          <li>
            You must wait at least 8 weeks between whole blood donations and 16
            weeks between double red cell donations.
          </li>
          <li>
            Platelet donations can be made every 7 days, up to 24 times per
            year.
          </li>
        </ul>
        <p>
          The following are some suggestions to help you prepare for donating
          blood:
        </p>
        <ul>
          <li>Drink an extra 16 ounces of water before your appointment.</li>
          <li>Eat a healthy meal that’s low in fat.</li>
          <li>
            Wear a short-sleeved shirt or a shirt with sleeves that are easy to
            roll up.
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
