{% extends 'polls/base.html' %} {% block title %}<title>
  Registration Form
</title>
{% endblock %} {% block contents %} {% load static %}
<style>
  .image {
    width: 150px;
    height: 150px;
  }

  .width-border {
    width: 100%;
    border-radius: 12px;
    border: 1px solid #d9534f;
  }
  .containers {
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
  }
</style>

<div class="containers">
  <div class="p-5">
    <div class="shadow-lg p-5 mb-3 bg-white width-border">
      <form action="{% url 'donor_list' %}" method="post" novalidate>
        <div class="text-center">
          <img src="{% static 'images/registration.jpg' %}" class="image" />
        </div>
        <h4 class="text-center pt-4 text-danger text-uppercase">
          Registration Form
        </h4>
        {% csrf_token %} {{forms.as_p}}
        <button type="submit" class="btn btn-danger">Submit</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}
